<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Event</title>
  </head>
  <body>
    <label>
      <span>Delay</span>
      <input id="delay" placeholder="1000">
    </label>

    <script src="//assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            document.getElementById('delay').value = info.settings.delay;
          }
        },

        getSettings: function() {
          return {
            delay: Number(document.getElementById('delay').value) || 1000
          };
        },

        validate: function() {
          return !isNaN(document.getElementById('delay').value);
        }
      });
    </script>
  </body>
</html>
